.search {
  margin-top: 70px;
  background-image: url(../../../public/images/bannerbackground.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 60vh;
  width: 100%;
  padding-top: 100px;
}
.search-text {
  width: 25%;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid rgb(209, 49, 76);
}
.search-btn {
  border: 1px solid rgb(209, 49, 76);
  background-color: rgb(209, 49, 76);
  color: white;
  border-radius: 0px 20px 20px 0px;
}
.food-catagory {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.food-catagory a {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 22px;
}
.food-catagory a:hover {
  color: rgb(209, 49, 76);
  font-weight: bolder;
}
.food-catagory a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(209, 49, 76);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
.food-catagory a:hover::before {
    transform: scaleX(1);
  }
.active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(209, 49, 76);    
}
.active{
    color: rgb(209, 49, 76);
    font-weight: bolder;
}
@media (max-width: 991px) {
  .search {
    height: 40vh;
    padding-top: 200px;
  }
  .search-text {
    width: 35%;
  }
  
}

@media (max-width: 700px) {
  .search {
    height: 40vh;
    padding-top: 100px;
  }
  .search h2{
    font-size: 20px;
  }
  
  .search-text {
    width: 45%;
  }
}