.details  {
    margin: 4% 10%;
}
.cart-btn{
    background-color: rgb(209, 49, 76);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    width: 120px;
}
.cart-btn:hover{
    background-color: white;
    border: 1px solid rgb(209, 49, 76);
    color: rgb(209, 49, 76);
}
.details-img-mobile{
    display: none !important;
}
.details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
@media (max-width: 700px) {
    .details-content{
        width: 100vw;
    }
    .details-img-mobile{
        display: block !important;
        width: 250px !important;
        margin: 0 auto;
    }
    .details-img{
        display: none !important;
    }
    .details-content{
        width: 80%;
    }
}