.bf-container{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-gap: 20px;
    width: 100%;
    margin: 40px auto;
}
.breakfast{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bf-img{
    width: 200px;
    height: 200px;
}
.bf-btn{
    border: 1px solid  rgb(209, 49, 76);
    padding: 0 20px;
    background-color:rgb(209, 49, 76) ;
    color: white;
    border-radius: 10px;
}
.bf-btn:hover{
    border: 1px solid  rgb(209, 49, 76);
    background-color: white;
    color: rgb(209, 49, 76) ;

}